.App {
  text-align: center;
  min-height: 100vh;
}

html,body,.App{
  min-width: 100vh;
  overflow-x: hidden;
}
html {
  overflow-x: initial !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

